body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
nav{
  margin:30px;
}
h1 {
  font-size: 2.5em;
  color: #4CAF50;
  padding: 20px 30px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
}

.employee-add-container {
  background: #fff;
  padding: 20px;
  margin: 30px auto;
  /* border-radius: 8px; */
  max-width: 600px;
  box-shadow: 0px 0px 10px #ccc;
}

.employee-form .form-group {
  margin-bottom: 20px;
}

.employee-form label {
  display: block;
  margin-bottom: 10px;
}

.employee-form input[type="text"],
.employee-form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table {
  width: 70%;
  border-collapse: collapse;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #ccc;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  display: inline-block;
  background: #28a745;
  color: #fff;
  padding: 10px 20px;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

select {
  padding: 10px;
  margin: 20px;
  border: 1px solid #ddd;
}

.button-link {
  display: inline-block;
  background: #28a745;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  width: 150px;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}
